
.form-size{
    max-width:400px;
    margin: 80px auto;
    background-color: #cfd8c7;
    padding: 20px;
    border: 1px solid #6e7885;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 200px;
}

#navbar{
    right: 0;
}

#innerbody{
    background-color: #79938a;
    position: fixed;
    width: 100%;
    height: 100%;
    top: auto;
    bottom: auto;

}